[submodule "tdLBGeometryRushtonTurbineLib"]
	path = tdLBGeometryRushtonTurbineLib
	url = git@github.com:TurbulentDynamics/tdLBGeometryRushtonTurbineLib.git
[submodule "tdLBCppApi"]
	path = tdLBCppApi
	url = git@github.com:TurbulentDynamics/tdLBCppApi
